<launch>

    <!-- Initialize IMU driver -->
    <node pkg="nodelet" type="nodelet" name="imu_manager" args="manager" output="screen" />
    <node pkg="nodelet" type="nodelet" name="PhidgetsImuNodelet"
        args="load phidgets_imu/PhidgetsImuNodelet imu_manager"
        output="screen">
        <remap from="imu/data_raw" to="imu/data/pre_tf"/>
        <param name="period" value="8"/>
    </node>

    <!-- Initialize IMU data transform -->
    <node pkg="advanced_robotics_team6" type="imu_tf.py" name="imu_tf_node" />

    <!-- Initialize madgwick filter -->
    <node pkg="imu_filter_madgwick" name="madgwick" type="imu_filter_node" clear_params="true">
      <rosparam command="load" file="$(find advanced_robotics_team6)/params/imu_filter_madgwick.yaml" />
      <remap from="imu/data" to="robot/imu/data"/>
    </node>

    <!-- Initialize kalman filter -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
      <rosparam command="load" file="$(find advanced_robotics_team6)/params/ekf_localization.yaml"/>
    </node>

    <!-- Initialize IMU PID -->
    <node name="imu_pid" pkg="pid" type="controller" output="screen" >
        <!-- Kp, Ki, Kd should either all be positive or all be negative -->
        <param name="Kp" value="-6250.0" />
        <param name="Ki" value="-0.0" />
        <param name="Kd" value="-1000.0" />
        <!-- [-1905, 1905] because 6000 - 1905 = 4095 and 6000 + 1905 = 7905 -->
        <param name="upper_limit" value="1905" />
        <param name="lower_limit" value="-1905" />
        <!-- Advanced parameters -->
        <param name="windup_limit" value="10" />
        <param name="cutoff_frequency" value="12" />
        <!-- Topic names -->
        <param name="topic_from_controller" value="odroid/IMU/pid/control_effort" />
        <param name="topic_from_plant" value="odroid/IMU/pid/state" />
        <param name="setpoint_topic" value="odroid/IMU/pid/setpoint" />
        <param name="pid_enable_topic" value="odroid/IMU/pid/enable" />
        <!-- Node name -->
        <param name="node_name" value="imu_pid" />
        <!-- Bounds for publishing and subscribing at 50 Hz -->
        <param name="max_loop_frequency" value="55.0" />
        <param name="min_loop_frequency" value="45.0" />
     </node>

    <!-- Initialize bottom IR PID -->
    <node name="ir_bottom_pid" pkg="pid" type="controller" output="screen" >
        <!-- Kp, Ki, Kd should either all be positive or all be negative -->
        <param name="Kp" value="-7.0" />
        <param name="Ki" value="-3.0" />
        <param name="Kd" value="0.0" />
        <!-- [-1905, 1905] because 6000 - 1905 = 4095 and 6000 + 1905 = 7905 -->
        <param name="upper_limit" value="1905" />
        <param name="lower_limit" value="-1905" />
        <!-- Advanced parameters -->
        <param name="windup_limit" value="10" />
        <param name="cutoff_frequency" value="12" />
        <!-- Topic names -->
        <param name="topic_from_controller" value="odroid/bottom_IR/pid/control_effort" />
        <param name="topic_from_plant" value="odroid/bottom_IR/pid/state" />
        <param name="setpoint_topic" value="odroid/bottom_IR/pid/setpoint" />
        <param name="pid_enable_topic" value="odroid/bottom_IR/pid/enable" />
        <!-- Node name -->
        <param name="node_name" value="ir_bottom_pid" />
        <!-- Bounds for publishing and subscribing at 50 Hz -->
        <param name="max_loop_frequency" value="55.0" />
        <param name="min_loop_frequency" value="45.0" />
     </node>

     <!-- Initialize top IR PID -->
    <node name="ir_top_pid" pkg="pid" type="controller" output="screen" >
        <!-- Kp, Ki, Kd should either all be positive or all be negative -->
        <param name="Kp" value="-7.0" />
        <param name="Ki" value="-3.0" />
        <param name="Kd" value="0.0" />
        <!-- [-1905, 1905] because 6000 - 1905 = 4095 and 6000 + 1905 = 7905 -->
        <param name="upper_limit" value="1905" />
        <param name="lower_limit" value="-1905" />
        <!-- Advanced parameters -->
        <param name="windup_limit" value="10" />
        <param name="cutoff_frequency" value="12" />
        <!-- Topic names -->
        <param name="topic_from_controller" value="odroid/top_IR/pid/control_effort" />
        <param name="topic_from_plant" value="odroid/top_IR/pid/state" />
        <param name="setpoint_topic" value="odroid/top_IR/pid/setpoint" />
        <param name="pid_enable_topic" value="odroid/top_IR/pid/enable" />
        <!-- Node name -->
        <param name="node_name" value="ir_top_pid" />
        <!-- Bounds for publishing and subscribing at 50 Hz -->
        <param name="max_loop_frequency" value="55.0" />
        <param name="min_loop_frequency" value="45.0" />
     </node>

     <node pkg="advanced_robotics_team6" type="wall_follow.py" name="odroid_node" output="screen" />

</launch>
