<launch>

    <!-- Initialize IMU driver -->
    <node pkg="nodelet" type="nodelet" name="imu_manager" args="manager" output="screen" />
    <node pkg="nodelet" type="nodelet" name="PhidgetsImuNodelet"
        args="load phidgets_imu/PhidgetsImuNodelet imu_manager"
        output="screen">
        <remap from="imu/data_raw" to="imu/data/pre_tf"/>
        <param name="period" value="8"/>
    </node>

    <!-- Initialize IMU data transform -->
    <node pkg="advanced_robotics_team6" type="imu_tf.py" name="imu_tf_node" />
    <!-- Initialize kalman filter -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
      <rosparam command="load" file="$(find advanced_robotics_team6)/params/ekf_localization_2.yaml"/>
    </node>


     <node pkg="advanced_robotics_team6" type="wall_follow_2.py" name="odroid_node" output="screen" />


</launch>
