<launch>

    <arg name="offline" default="false" />
    <arg name="dev" default="" />
    <arg name="dope" default="false" />

    <param name="offline" value="$(arg offline)"/>

    <include file="$(find advanced_robotics_team6)/launch/advanced_robotics_team6.launch" >
        <arg name="offline" value="$(arg offline)"/>
    </include>

    <!-- Initialize bottom IR PID -->
    <node name="bottom_ir_pid" pkg="pid" type="controller" output="screen" >
        <rosparam unless="$(arg dope)" command="load" file="$(find advanced_robotics_team6)/params/bottom_ir_pid.yaml"/>
        <rosparam if="$(arg dope)" command="load" file="$(find advanced_robotics_team6)/params/dope/top_ir_pid.yaml"/>
    </node>

     <!-- Initialize top IR PID -->
    <node name="top_ir_pid" pkg="pid" type="controller" output="screen" >
        <rosparam unless="$(arg dope)" command="load" file="$(find advanced_robotics_team6)/params/top_ir_pid.yaml"/>
        <rosparam if="$(arg dope)" command="load" file="$(find advanced_robotics_team6)/params/dope/top_ir_pid.yaml"/>
    </node>

    <!-- Initialize wall IMU PID -->
    <node name="imu_wall_pid" pkg="pid" type="controller" output="screen" >
        <rosparam command="load" file="$(find advanced_robotics_team6)/params/wall_imu_pid.yaml"/>
    </node>

    <!-- Initialize cornering IMU PID -->
    <node name="imu_corner_pid" pkg="pid" type="controller" output="screen" >
        <rosparam command="load" file="$(find advanced_robotics_team6)/params/corner_imu_pid.yaml"/>
    </node>

    <!-- Initialize main node -->
    <node pkg="advanced_robotics_team6" type="wall_follow.py" name="wall_follow_node" output="screen">
        <param name="dev" value="$(arg dev)"/>
    </node>

</launch>
